<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeHandlers>
        <package name="io.quarkiverse.it.mybatis"/>
    </typeHandlers>

    <!-- setup environment with JDBC data source -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="QUARKUS">
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <package name="io.quarkiverse.it.mybatis"/>
    </mappers>
</configuration>
